@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor01: #FCC42D;
    --cor02: #3AFCC0;
    --cor03: #FC8F21;
    --cor04: #0842FC;
    --cor05: #FC4514;
    
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor02);
    font-family: var(--font-padrao);
}

header{
    background-image: linear-gradient( to bottom, var(--cor03), var(--cor01));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color:white;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
}
header > p{
    font-family: var(--font-padrao);
    font-weight: bold;
    color: #444343;
    text-transform: uppercase;
    max-width: 600px;
    margin-bottom: 30px;
    padding: 0px 10px 0px 10px;
    margin: auto;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.486);
}

nav{
    background-color: var(--cor01);
    padding: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
    text-align: center;
}
nav > a{
    color: #444343;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.486);
    border: 1px solid rgb(243, 241, 241);
}

nav a:hover{
    background-color: var(--cor02);
    color:white;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.486);
}

main{

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-radius: 0px 0px 10px 10px;
    margin-top: .5em;
}

main h1{
    color: var(--cor05);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--font-android);
    color: var(--cor03);
    font-weight: normal;
    font-size: 1.3em;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong{
    color: var(--cor05);
    font-weight: bold;
}

main a{
    color:var(--cor05);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor02);
    padding: 2px 6px;
    border-radius: 4px
}

main a:hover{
    color:var(--cor01);
}

main img{
    width: 100%;
    display: block;
    margin: auto;
}

main img.pequena{
max-width: 350px;
display: block;
margin: auto;
}

div.video{
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color:var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3{
    background-color: var(--cor05);
    color:var(--cor02);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: .8em;
    padding: 7px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    color: var(--cor02);
}